<section>
  <h2></h2>
  <div class="elements">
    <div class="col">
     Basic
    </div>
    <div class="col">
     Primary
    </div>
    <div class="col">
      Secondary
    </div>
    <div class="col">
      Disabled
    </div>
  </div>
</section>
<section>
  <h2>Icon only buttons</h2>
  <div class="elements">
    <div class="col">
      <button nt-icon-button color="basic">
        <ng-nt-icon material-style="outlined" icon-size="24px">Home</ng-nt-icon>
      </button>
    </div>
    <div class="col">
      <button nt-icon-button color="primary">
        <ng-nt-icon material-style="outlined" icon-size="24px">Settings</ng-nt-icon>
      </button>
    </div>
    <div class="col">
      <button nt-icon-button color="secondary">
        <ng-nt-icon material-style="outlined" icon-size="24px">Favorite</ng-nt-icon>
      </button>
    </div>
    <div class="col">
      <button nt-icon-button disabled>
        <ng-nt-icon material-style="outlined" icon-size="24px">Person</ng-nt-icon>
      </button>
    </div>
    
  </div>
</section>

<section>
  <h2>Text only buttons</h2>
  <div class="elements">
    <div class="col"><button nt-button color="basic">Home</button></div>
    <div class="col"><button nt-button color="primary">Settings</button></div>
    <div class="col"><button nt-button color="secondary">Favorites</button></div>
    <div class="col"><button nt-button disabled>Profile</button></div>
  </div>
</section>

<section>
  <h2>Icon and text buttons</h2>
  <div class="elements">
    <div class="col">
      <button nt-icon-button color="basic">
        <ng-nt-icon material-style="outlined" icon-size="24px" shown-text="Home">Home</ng-nt-icon>
      </button>
    </div>
    <div class="col">
      <button nt-icon-button color="primary">
        <ng-nt-icon material-style="outlined" icon-size="24px" shown-text="Settings">Settings</ng-nt-icon>
      </button>
    </div>
    <div class="col">
      <button nt-icon-button color="secondary">
        <ng-nt-icon material-style="outlined" icon-size="24px" shown-text="Favorites">Favorite</ng-nt-icon>
      </button>
    </div>
    <div class="col">
      <button nt-icon-button disabled>
        <ng-nt-icon material-style="outlined" icon-size="24px" shown-text="Profile">Person</ng-nt-icon>
      </button>
    </div>
  </div>
</section>



<router-outlet></router-outlet>
