* {
    margin: 8px;
    font-size:16px;
}
section {
    display: table;
}
section h2 {
    display: table-cell;
    width:100px;
    text-align: left;
}
section .elements {
    display: table-cell; 
}
section .elements > .col{
   display:inline-block;
   width:10em;
}